.move-up {
  position: relative;
  top: -30px;
  z-index: 99;
}

.md-toolbar-tools {
  button.move-down {
    right: 40px;
    top: 50px;
    z-index: 999;
  }
}

.split-from-top {
  margin-top: 10px;
}

.cv-bold {
  font-weight: bold;
}

.cv-move-speed-dial {
  height: 56px;
  .md-button {
    margin: 6px 8px;
  }
}

.cv-menu-picture {
  height: 80px;
}

.cv-content {
  margin-top: 15px;
  &.cv-timeline-trend {
    padding-top: 20px;
  }
  h3 {
    text-align: center;
  }
}

