<md-fab-speed-dial md-open="vm.isOpen" md-direction="{{vm.direction}}"
                   ng-class="vm.selectedMode" class="cv-move-speed-dial">
  <md-fab-trigger>
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon>menu</md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button aria-label="Twitter" class="md-fab md-raised md-mini" ng-click="vm.scrollToElement('timeline-trend')">
      <md-tooltip md-direction="right"
                  md-autohide="false">Timeline</md-tooltip>
      <md-icon>device_hub</md-icon>
    </md-button>
    <md-button aria-label="Twitter" class="md-fab md-raised md-mini" ng-click="vm.scrollToElement('work-graphs')">
      <md-tooltip md-direction="right"
                  md-autohide="false">Graphs</md-tooltip>
      <md-icon>equalizer</md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>
