<div>
  <div class="md-whiteframe-3dp cv-content cv-timeline-trend" id="timeline-trend" layout="column">
    <div></div>
    <timeline></timeline>
  </div>
  <div class="md-whiteframe-3dp cv-content" id="work-graphs">
    <div layout-gt-md="row" layout-xs="column">
      <md-card flex-gt-sm="50">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with  image</span>
            <span class="md-subhead">Extra Large</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media" style="width: 100%;">
            <img src="https://i.ytimg.com/vi/jzdEi0YHEKM/maxresdefault.jpg" style="width: 100%; height:100%">
          </div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon>menu</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon>mode_comment</md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
      <md-card flex-gt-sm="50">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with  image</span>
            <span class="md-subhead">Extra Large</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media" style="width: 100%;">
            <img src="https://i.ytimg.com/vi/jzdEi0YHEKM/maxresdefault.jpg" style="width: 100%; height:100%">
          </div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon>menu</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon>mode_comment</md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
