<div>
  <div class="md-whiteframe-3dp cv-content cv-timeline-trend" id="timeline-trend" layout="column">
    <div></div>
    <timeline></timeline>
  </div>
  <div class="md-whiteframe-3dp cv-content" id="work-graphs">
    <div layout-gt-md="row" layout-xs="column">
      <work-tile flex-gt-sm="50"></work-tile>
      <school-tile flex-gt-sm="50"></school-tile>
    </div>
  </div>

  <div class="md-whiteframe-3dp cv-content" id="experience-graphs">
    <div layout-gt-md="row" layout-xs="column">
      <md-card flex-gt-md="50">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">small</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-title-media>
          <div class="card-media cv-graph cv-graph-small" layout="row">
            <div id="exp-1" style="width: 50%; height: 100%"></div>
            <div id="exp-2" style="width: 50%; height: 100%"></div>
          </div>
        </md-card-title-media>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      <md-card flex-gt-md="50">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">small</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-title-media>
          <div class="card-media cv-graph cv-graph-small" layout="row">
            <div id="exp-3" style="width: 50%; height: 100%"></div>
            <div id="exp-4" style="width: 50%; height: 100%"></div>
          </div>
        </md-card-title-media>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>

  </div>
  <div class="md-whiteframe-3dp cv-content cv-contacts" id="contacts">
    <contacts></contacts>
  </div>
</div>
