<div>
  <div class="md-whiteframe-3dp cv-content">
    <h3>This is Timeline</h3>
    <p>In et pretium mi, in pharetra odio. Suspendisse a urna dapibus, viverra turpis quis, tincidunt neque. Donec eget auctor tellus. Morbi et ipsum turpis. Suspendisse potenti. Nam sodales quis augue in semper. Vivamus ac mi sit amet neque gravida dictum. Etiam quis egestas metus, quis mattis enim. Nullam at velit nec tellus vehicula tristique vel non odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer sed sollicitudin ante, pulvinar fermentum enim. Donec pulvinar, ex blandit mattis facilisis, nibh urna sagittis nisl, eu mollis ex ex pulvinar metus. Cras id su</p>
  </div>
  <div class="md-whiteframe-3dp cv-content">
    <h3>This is Graphs</h3>
    <div layout="row">
      <md-card flex-gt-sm="50">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with  image</span>
            <span class="md-subhead">Extra Large</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media">
            <img src="https://i.ytimg.com/vi/jzdEi0YHEKM/maxresdefault.jpg" width="240px">
          </div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon>menu</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon>mode_comment</md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
      <md-card flex-gt-sm="50">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with  image</span>
            <span class="md-subhead">Extra Large</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media">
            <img src="https://i.ytimg.com/vi/jzdEi0YHEKM/maxresdefault.jpg" width="240px">
          </div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon>menu</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon>mode_comment</md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
